*{
    box-sizing: border-box;
    margin: 0;
}

body{
 min-height: 100vh;
    display: flex;   
 justify-content: center;
 align-items: start;
background-color: #121212;

}

h1{
    padding-bottom: 8px;
    font-family: roboto;
    color: #e5e5e5;
}

input{
    font-size: 16px;
    border: 1px solid black;
 margin-bottom: 9px;   
}

button{
    font-size: 16px;
    border: 1px solid black;
    cursor: pointer;
color: #ffff;
background-color: #333333;
}



ul{
padding-left: 21px;
color: #d4d4d4;
font-size: 20px;
}

li{
    list-style: decimal;
}